* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

body > header {
    background-color: rgb(53, 88, 162);
    color: white;
    padding: 2em;
    display: flex;
    gap: 2em;
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
}

nav  ul{
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover; 
}

h2 {
    padding-left: 1em;
    font-size: 2em;
}

section .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;

}

section.sec-esportes h2, section.sec-esportes h3{
    color: darkgreen;
}

section.sec-economia h2, section.sec-economia h3{
    color: rgb(0, 23, 100);
}

section.sec-política h2, section.sec-política h3{
    color: rgb(164, 9, 9);
}

section.sec-entretenimento h2, section.sec-entretenimento h3{
    color: rgb(193, 116, 9);
}

time {
    color: rgb(120, 134, 161);
}

article > p{
    color: rgb(60, 64, 73);
    padding:  0 1em 1em 0;
}