//variaveis


@cor {
    botao: #44bd32;
    body-fundo: #f5f6fa;
    header-fundo: #182C61; 
}

@breakpoints-mobile: ~"(width <= 768px)"
@breakpoints-tablet: ~"(768px < width < 1024px)"
@breakpoints-desktop: ~"(width >= 1024)"

